.test {
    padding-top: 5%;
    font-size:20px;
    transform: scale(1, 2);
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  }

.line {
    background-color: aliceblue;
    height: 1px;
    margin-top: 6px;
    width: 100%;
  }

.shadow {
    text-shadow:
      1px 1px 10px black,
      0 0 1em black,
      0 0 0.2em black;
    color: white;
    font:
      2.5em Georgia,
      serif;
}

.shadow_sub {
    text-shadow:
      1px 1px 10px black,
      0 0 1em black,
      0 0 0.2em black;
    color: white;
    font:
      1.5em Georgia,

      serif;
}

.customstyle {
    background-color: #000000;
    background-image: linear-gradient(147deg, #ff2323 0%, #a12202 74%);
    color: aliceblue;   
}