@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: url('/cursor4.png'), auto;
}

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 240rem;
  
  --color-warm-orange: #e7b05d; 

  --font-overpass: "Overpass", sans-serif; 

  --animate-fade-in: fade-in 1s;
  @keyframes fade-in {
    from {
      opacity: 0;
    },
    to {
      opacity: 100;
    }
  }
  --animate-fade-out: fade-out 1s;
  @keyframes fade-out {
    from {
      opacity: 100%;
    },
    to {
      opacity: 1%;
    }
  }
}